.txSnackbarContainer{
    position: fixed;
    top: 100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgba(91, 91, 91, 0.5);
    padding: 30px;
}

.txSnackbarElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.5);
    cursor: pointer;
    color: white;
}

.txSnackbarElement:hover{
    background-color: rgba(75, 75, 75, 0.5);
}

.txSnackbarTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}